# MotoPricePredictor: EDA

This notebook contains the exploratory data analysis (EDA) and preprocessing steps for the motorcycle price dataset.

The objective is to understand:
- The structure and quality of the dataset
- Distribution of prices and features
- Potential data quality issues
- Feature importance and predictive potential

This analysis will guide feature engineering and model selection in later stages.

In [ ]:
# Imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_path = "../data/raw/MotorcycleData.csv"

In [7]:
df = pd.read_csv(data_path)
df.head().T

,0,1,2,3,4
id,0,1,2,3,4
Condition,Used,Used,Used,Used,Used
Condition_Desc,mint!!! very low miles,Perfect condition,NaN,CLEAN TITLE READY TO RIDE HOME,NaN
Price,"$11,412","$17,200","$3,872","$6,575","$10,000"
Location,"McHenry, Illinois, United States","Fort Recovery, Ohio, United States","Chicago, Illinois, United States","Green Bay, Wisconsin, United States","West Bend, Wisconsin, United States"
Model_Year,2013.0,2016.0,1970.0,2009.0,2012.0
Mileage,"16,000",60,"25,763","33,142","17,800"
Exterior_Color,Black,Black,Silver/Blue,Red,Blue
Make,Harley-Davidson,Harley-Davidson,BMW,Harley-Davidson,Harley-Davidson
Warranty,Unspecified,Vehicle has an existing warranty,Vehicle does NOT have an existing warranty,NaN,NO WARRANTY
Model,Touring,Touring,R-Series,Touring,Touring
Sub_Model,street glide custom,Street Glide,R75/5 SWB,ultra classic,STREET GLIDE
Type,Cruiser,Sport Touring,Standard,Touring,Touring
Vehicle_Title,NaN,NaN,NaN,NaN,NaN
OBO,False,False,False,False,False
Feedback_Perc,8.1,100,100,100,100
Watch_Count,NaN,17,NaN,NaN,13
N_Reviews,2427,657,136,2920,271
Seller_Status,Private Seller,Private Seller,NaN,Dealer,OWNER
Vehicle_Tile,Clear,Clear,Clear,Clear,Clear
Auction,True,True,True,True,True
Buy_Now,False,True,False,False,True
Bid_Count,28.0,0.0,26.0,11.0,0.0

In [8]:
df.shape

(7493, 23)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7493 entries, 0 to 7492
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              7493 non-null   int64
 1   Condition       7493 non-null   object
 2   Condition_Desc  1656 non-null   object
 3   Price           7493 non-null   object
 4   Location        7491 non-null   object
 5   Model_Year      7489 non-null   float64
 6   Mileage         7468 non-null   object
 7   Exterior_Color  6778 non-null   object
 8   Make            7489 non-null   object
 9   Warranty        5077 non-null   object
 10  Model           7434 non-null   object
 11  Sub_Model       2179 non-null   object
 12  Type            6257 non-null   object
 13  Vehicle_Title   0 non-null      float64
 14  OBO             7493 non-null   bool
 15  Feedback_Perc   6785 non-null   object
 16  Watch_Count     3278 non-null   object
 17  N_Reviews       7493 non-null   int64
 18  Seller_Status   6861 non-null   object
 19  Vehicle_Tile    7439 non-null   object
 20  Auction         7493 non-null   bool
 21  Buy_Now         7493 non-null   bool
 22  Bid_Count       2221 non-null   float64
dtypes: bool(3), float64(3), int64(2), object(15)
memory usage: 1.2+ MB

## Data Preparation

- Is there any missing data?
- Update column names (remove spaces, lowercase, brackets)
- Identify column data types

### Missing Values

In [11]:
df.isnull().sum().sort_values(ascending=False)

Vehicle_Title     7493
Condition_Desc    5837
Sub_Model         5314
Bid_Count         5272
Watch_Count       4215
Warranty          2416
Type              1236
Exterior_Color     715
Feedback_Perc      708
Seller_Status      632
Model               59
Vehicle_Tile        54
Mileage             25
Model_Year           4
Make                 4
Location             2
Price                0
id                   0
Condition            0
OBO                  0
N_Reviews            0
Auction              0
Buy_Now              0
dtype: int64

*Missing Value Analysis*

The dataset contains a mixture of complete and partially missing fields.
There are several ways we can handle these missing values such as keeping them, imputing them or removing them all together.

Vehichle title seems to be completely empty and so can be removed along with the id which is redundant, as this is just inline with index values.

Condition_Desc can also be removed as we will not be using the freetext at this stage, though in the future, it could be possible to apply sentiment analysis to get a score for condition to be used in prediction. That is beyond the scope of this project at this point.

Numerical fields such as Mileage and Model_Year contained very few missing values and can be imputed using the median to preserve distributional properties.

The target variable (Price) contained no missing values.

We will first look at the data and the distribution of it before making anymore decisions on what fields to drop.

In [12]:
categorical_cols = df.select_dtypes(include=["object"]).columns.tolist()
categorical_cols

['Condition',
 'Condition_Desc',
 'Price',
 'Location',
 'Mileage',
 'Exterior_Color',
 'Make',
 'Warranty',
 'Model',
 'Sub_Model',
 'Type',
 'Feedback_Perc',
 'Watch_Count',
 'Seller_Status',
 'Vehicle_Tile']

In [14]:
df[categorical_cols].nunique()

Condition            2
Condition_Desc    1184
Price             1748
Location          2026
Mileage           3984
Exterior_Color     869
Make                59
Warranty            69
Model             1748
Sub_Model         1207
Type               230
Feedback_Perc       63
Watch_Count         76
Seller_Status       29
Vehicle_Tile         4
dtype: int64

In [18]:
for category in categorical_cols:
    print(df[category].value_counts())
    print("="*50)

Condition
Used    6564
New      929
Name: count, dtype: int64
==================================================
Condition_Desc
Excellent condition                                                                                        20
Excellent Condition                                                                                        12
Excellent                                                                                                  12
used item, normal wear and tear, Runs and Rides Great, CLEAN AND CLEAR TITLE, Tested and Inspected,        11
Like new                                                                                                   11
                                                                                                           ..
CLEAN TITLE   READY TO RIDE HOME                                                                            1
It&#039;s a &#039;72 in good shape                                                                          1
Overall, this bike is in good condition for it&#039;s aged. It&#039;s clearly been properly stored and      1
Absolutely perfect condition                                                                                1
IN AWESOME CONDITION. SUPER RARE.  JUST SERVICED.  NEW REAR TIRE.  SPRINGERS ARE IN HIGH DEMAND GET         1
Name: count, Length: 1184, dtype: int64
==================================================
Price
$5,000      96
$3,500      81
$5,500      78
$7,500      74
$6,000      71
            ..
$25,977      1
$23,899      1
$24,599      1
$13,099      1
$27,599      1
Name: count, Length: 1748, dtype: int64
==================================================
Location
Suncook, New Hampshire, United States       392
Scott City, Missouri, United States         306
Elmhurst, Illinois, United States           250
Dallas, Texas, United States                247
Plano, Texas, United States                 171
                                           ...
Mascouche, Quebec, Canada                     1
Ottawa, Ontario, Canada                       1
Elkton, Virginia, United States               1
Charlottesville, Virginia, United States      1
Almonte, Canada                               1
Name: count, Length: 2026, dtype: int64
==================================================
Mileage
0        547
1        246
7         80
2         56
3         36
        ...
8,240      1
2,972      1
7,191      1
4,475      1
180        1
Name: count, Length: 3984, dtype: int64
==================================================
Exterior_Color
Black                 1833
Red                    836
Blue                   617
White                  365
Silver                 278
                      ...
Chrome Yellow            1
Luxury Rich Red          1
Pewter Pearl             1
ALUMINIUM SILVER         1
BLACK W/ PINSTRIPE       1
Name: count, Length: 869, dtype: int64
==================================================
Make
Harley-Davidson                  2955
Honda                             821
Yamaha                            565
Kawasaki                          514
Suzuki                            452
BMW                               404
Triumph                           292
Ducati                            225
Other Makes                       204
Indian                            182
Custom Built Motorcycles          148
Can-Am                            112
Victory                           103
KTM                                64
Honda�                             57
Ural                               50
Moto Guzzi                         36
Aprilia                            31
Big Dog                            29
Campagna                           26
Buell                              26
MV Agusta                          22
Slingshot                          17
Harley-Davidson�                   14
Husqvarna                          13
Royal Enfield                      13
Bourget                            12
Cushman                            12
American Ironhorse                 12
BSA                                11
American Classic Motors             8
Norton                              6
BETA                                5
Bimota                              5
Polaris�                            4
Hyosung                             4
Boss Hoss                           4
Bultaco                             3
Benelli                             3
Can-Am�                             3
Piaggio                             2
Other                               2
American IronHorse                  2
Indian Motorcycle�                  1
Polaris Slingshot�                  1
Big Bear Choppers                   1
Swift Motor Co.                     1
Kymco                               1
CR500R                              1
*Harley-Davidson* Martin Bros       1
Bmw Motorcycle                      1
Polaris                             1
Ultimate                            1
Custom                              1
Wild West                           1
Ford                                1
POLARIS                             1
ADVANTAGE                           1
GMC                                 1
Name: count, dtype: int64
==================================================
Warranty
Vehicle does NOT have an existing warranty    2624
Unspecified                                   1418
Vehicle has an existing warranty               882
none                                            15
NO                                              10
                                              ...
No warranty implied                              1
Expired                                          1
YES                                              1
None                                             1
NO WARRANTY SOLD AS IS WHERE IS                  1
Name: count, Length: 69, dtype: int64
==================================================
Model
Touring                         805
Softail                         441
Other                           263
R-Series                        200
Dyna                            198
                               ...
VRSCA VROD 100TH ANNIVERSARY      1
250 XC-W XCW                      1
FXDL                              1
XL 883C                           1
FLSTC                             1
Name: count, Length: 1748, dtype: int64
==================================================
Sub_Model
FINANCING AVAILABLE - 704-824-8533    20
Classic                               19
GL1800                                19
Ultra Classic                         18
Wide Glide                            14
                                      ..
BREAKOUT                               1
175                                    1
Sportster Iron XL883N                  1
CVO LIMITED EDITION                    1
300RAF                                 1
Name: count, Length: 1207, dtype: int64
==================================================
Type
Gasoline            1619
Cruiser             1013
Touring              920
Standard             859
Sport Bike           509
                    ...
Enduro dirt bike       1
DIRT BIKE              1
Road Track Racer       1
Moped                  1
SUPERBIKE RACER        1
Name: count, Length: 230, dtype: int64
==================================================
Feedback_Perc
100    5723
>80     166
4.7     101
>50      81
9.8      68
       ...
7.5       1
4.1       1
5.3       1
0.9       1
6.5       1
Name: count, Length: 63, dtype: int64
==================================================
Watch_Count
1<    520
2<    416
3<    328
4<    285
5<    245
     ...
77      1
58      1
56      1
66      1
65      1
Name: count, Length: 76, dtype: int64
==================================================
Seller_Status
Dealer                                             3753
Private Seller                                     2889
Owner                                               113
owner                                                42
OWNER                                                29
JOHNNY RAY RICHLAND    TRIKE ON AMERICA               5
Carrigan Motor Group                                  5
Original Owner                                        4
Belvidere Police Department                           1
By owner                                              1
SHORELINE HARLEY -  DAVIDSON                          1
onwer                                                 1
Peter Root                                            1
private                                               1
original owners son                                   1
Pawnbroker                                            1
BikesforDutch                                         1
factory                                               1
manufacturer                                          1
First Owner                                           1
Ricky                                                 1
Private Owner                                         1
Customs by Barry, 40+ years successful building       1
Private Party Seller                                  1
wholesale                                             1
First owner                                           1
By Owner                                              1
220000                                                1
Private owner                                         1
Name: count, dtype: int64
==================================================
Vehicle_Tile
Clear                                       7159
Salvage                                      167
Rebuilt, Rebuildable &amp; Reconstructed     111
Flood, Water Damage                            2
Name: count, dtype: int64
==================================================